<% provide(:title, t('index')) %>
<h2><%= t('index') %></h2>

<% if @folders.count == 0 && @user.archives.count == 0 && @user.uploads.count ==0 %>
  <p><strong><%= t('empty') %></strong></p>
<% end %>

<table class = "table table-bordered table-striped">
  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <% if folder.parent_id == 1000 %>

          <td width="50" style="text-align:center">
            <%= image_tag("folder.png",size: "35x35", :alt => "Folder") %>
          </td>
          <td><%= link_to folder.name, folder_path(folder) %></td>
          <td><%= link_to t('edit'), edit_folder_path(folder) %></td>
          <td width="70"><%= link_to t('delete'), folder, method: :delete, class: "btn btn-small btn-danger", data: { confirm: "#{t('confirm')}" } %></td>
        <% end %>
      </tr>
    <% end %>

    <% @archives.each do |archive| %>
      <tr>
        <% if archive.folder_id == 1000 %>

          <td width="50"  style="text-align:center">
            <%= image_tag("archive.png",size: "35x35", :alt => "Folder") %>
          </td>
          <td><%= link_to archive.name, folder_archive_path(archive.folder_id, archive.id) %></td>
          <td>
            <%= link_to t('edit'), edit_folder_archive_path(archive.folder_id, archive.id) %> |
            <%= link_to t('download'), folder_archive_path(archive.folder_id, archive.id,format: "docx") %>
          </td>
          <td width="70"><%= link_to t('delete'), folder_archive_path(archive.folder_id, archive.id), method: :delete, class: "btn btn-small btn-danger", data: { confirm: "#{t('confirm')}" } %></td>
        <% end %>
      </tr>
    <% end %>

    <% @uploads.each do |upload| %>
      <tr>
        <% if upload.folder_id == 1000 %>

          <td width="50"  style="text-align:center">
            <%= image_tag("upload.png",size: "35x35", :alt => "Folder") %>
          </td>
          <td><%= link_to upload.attachment, folder_upload_path(upload.folder_id, upload.id) %></td>
          <td><%= link_to t('download'), download_folder_upload_path(upload.folder_id, upload.id) %></td>
          <td width="70"><%= link_to t('delete'), folder_upload_path(upload.folder_id, upload.id), method: :delete,  class: "btn btn-small btn-danger", data: { confirm: "#{t('confirm')}" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<%= link_to t('new_folder'), new_folder_path, :class => "btn btn-large btn-primary" %>
<%= link_to t('new_archive'), new_folder_archive_path(:folder_id), :class => "btn btn-large btn-primary" %>
<%= link_to t('upload_file'), new_folder_upload_path(:folder_id), :class => "btn btn-large btn-primary" %>
