<% provide(:title,@folder.name) %>
<h2>Folder : <%= @folder.name %></h2>

<table class = "table table-bordered table-striped">
  <tbody>

    <% @subfolders.each do |subfolder| %>
      <tr>
        <td>F - <%= link_to subfolder.name, folder_path(subfolder) %></td>
        <td><%= link_to t('edit'), edit_folder_path(subfolder) %></td>
        <td><%= link_to t('delete'), subfolder, method: :delete, class: "btn btn-small btn-danger", data: { confirm: "#{t('confirm')}" } %></td>
      </tr>
    <% end %>

    <% @archives.each do |archive| %>
      <tr>
        <td>A - <%= link_to archive.name, folder_archive_path(archive.folder_id, archive.id) %></td>
        <td>
          <%= link_to t('edit'), edit_folder_archive_path(archive.folder_id, archive.id) %> |
          <%= link_to t('download'), folder_archive_path(archive.folder_id, archive.id,format: "docx") %>
        </td>
        <td><%= link_to t('delete'), folder_archive_path(archive.folder_id, archive.id), method: :delete, class: "btn btn-small btn-danger", data: { confirm: "#{t('confirm')}" } %></td>
      </tr>
    <% end %>

    <% @uploads.each do |upload|%>
      <tr>
        <td>U - <%= link_to upload.attachment, folder_upload_path(upload.folder_id, upload.id) %></td>
        <td><%= link_to t('download'), upload.attachment_url %></td>
        <td><%= link_to t('delete'), folder_upload_path(upload.folder_id, upload.id), method: :delete,  class: "btn btn-small btn-danger", data: { confirm: "#{t('confirm')}" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<%= link_to t('new_folder'), new_folder_path(@folder, :fid => @folder.id), class: "btn btn-primary" %>
<%= link_to t('new_archive'), new_folder_archive_path(@folder, :fid => @folder.id), class: "btn btn-primary" %>
<%= link_to t('upload_file'), new_folder_upload_path(@folder,:fid => @folder.id), :class => "btn btn-primary" %>

<%= link_to t('folders_archives'), folders_path, method: :get, class: "btn btn-primary" %>
<%= link_to t('back'), folder_path(@back_folder), class: "btn btn-primary" if @folder.parent_id != 1000 %>
<%= link_to t('back'), folders_path, method: :get, class: "btn btn-primary" if @folder.parent_id == 1000 %>
