<% provide(:title, t('edit_archive')) %>
<h2><%= t('edit_archive') %></h2>

<%= form_for @archive, url:folder_archive_path(@archive.folder_id, @archive.id) do |f| %>

  <%= render "shared/error_messages", source: @archive %>

  <%= f.label :name %> <br />
  <%= f.text_field :name, value: @archive.name %>
  <%= f.label :text %> <br />
  <%= f.text_area :text, value: @archive.text %>
  <br>

  <%= f.submit t('update'), class: "btn btn-primary"  %>
  <%= link_to t('folders_archives'), folders_path, method: :get , class: "btn btn-primary" %>
  <%= link_to t('back'), folder_path(@back_folder), class: "btn btn-primary" if @archive.folder_id != 1000 %>
  <%= link_to t('back'), folders_path, method: :get, class: "btn btn-primary" if @archive.folder_id == 1000 %>

<% end %>
