<% provide(:title, t('new_archive')) %>
<h2><%= t('new_archive') %></h2>

<%= form_for @archive, url:folder_archives_path do |f| %>

  <%= render "shared/error_messages", source: @archive %>

  <%= f.label :name %><br />
  <%= f.text_field :name %>
  <%= f.label :text %><br />
  <%= f.text_area :text, :id => "editor" %>

  <% if @fid %>
    <%= f.hidden_field :folder_id, :value => @fid %>
  <% else %>
    <%= f.hidden_field :folder_id, :value => 1000 %>
  <% end %>

  <br>
  <%= f.submit t('create'), class: "btn btn-primary"%>
  <%= link_to t('folders_archives'), folders_path, method: :get , class: "btn btn-primary" %>
  <%= link_to t('back'), folder_path(@back_folder), class: "btn btn-primary" if @fid %>
  <%= link_to t('back'), folders_path, method: :get, class: "btn btn-primary" if !@fid %>
<% end %>
  <script>
      $(function() {
        $('#editor').editable({inlineMode: false})
      });
  </script>
  
