<% provide(:title, @archive.name) %>
<h2><%= t('activerecord.models.archive') %> : <%= @archive.name %></h2>

<p>
  <%= @archive.text.html_safe %>
</p>

<br>
<%= link_to "Φάκελοι / Αρχεία", folders_path, method: :get, class: "btn btn-primary" %>
<%= link_to "back", folder_path(Folder.find(@archive.folder_id)), class: "btn btn-primary" if @archive.folder_id != 1000 %>
<%= link_to "back", folders_path, method: :get, class: "btn btn-primary" if @archive.folder_id == 1000 %>
