<div class="secondaryNav">
  <% if user_signed_in? %>
    <div class="secondaryNav-inner pull-right">
      <span>
        <%= link_to t('edit_profile'), edit_user_registration_path, method: :get %>
        <% current_user.canceled_account %>
        <span style="color:white"> | </span>
        <%= link_to t('sign_out'), destroy_user_session_path, method: :delete %>
      </span>
    </div>
  <% else %>
    <div class="secondaryNav-inner  pull-right">
      <span>
        <%= link_to t('sign_in'), user_session_path, method: :get %>
        <span style="color:white"><%= t('or') %></span>
        <%= link_to t('sign_up'), new_user_registration_path, method: :get %>
      </span>
    </div>
  <% end %>
</div>

